{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    User Login
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 border bg-light">
                <h4 class="text-center mt-3">Login To Get Moving</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <hr>
                    <div class="container">
                        <div class="row justify-content-center my-2">
                            <button class="btn-success" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}